@use "variables" as *;
@use "breakpoints" as *;

.home {
  display: grid;
  grid-template-columns: auto / auto / auto / 1fr;
  grid-template-areas:
    " trainer"
    " member"
    "alert  ";

  @include lg {
    grid-template-areas:
      " trainer  member member member member "
      "alert  alert alert alert alert";
  }
  .trainer-data {
    grid-area: trainer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include md {
      max-width: 300px;
    }

    img {
      width: 300px;
      border-radius: 5px;
      max-width: 450px;
    }
    .social {
      display: flex;
      gap: 10px;
      a {
        cursor: pointer;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .members {
    grid-area: member;
  }

  .alerts {
    grid-area: alert;
    display: flex;
    gap: 10px;
  }
}
