@use "variables" as *;
@use "breakpoints" as *;

.home {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-areas:
    " trainer"
    " member"
    "alert  ";
  padding: 20px;
  @include lg {
    grid-template-areas:
      " trainer  member member member member "
      "alert  alert alert alert alert";
  }
  .trainer-data {
    grid-area: trainer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    border-radius: 8px;
    @include md {
      max-width: 300px;
    }

    img {
      width: 300px;
      border-radius: 5px;
      max-width: 450px;
    }
    .social {
      display: flex;
      gap: 10px;
      a {
        cursor: pointer;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .members {
    grid-area: member;
  }

  .alerts {
    margin: 20px 0;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    border-radius: 8px;
    grid-area: alert;
    display: flex;
    gap: 10px;
  }
}
