@use "variables" as *;
@use "breakpoints" as *;

.layout {
  min-height: 100dvh;
  padding-bottom: 7vh;
  @include md {
    padding-bottom: 0;
  }
  .container-site {
    position: relative;
    flex: 12;
    @include md {
      flex: 6;
    }
    @include lg {
      flex: 7;
    }
    @include xl {
      flex: 6;
    }
  }
}
