@use "variables" as *;
@use "breakpoints" as *;

.navbar {
  // background: #330c6e;
  // background: -webkit-linear-gradient(
  //   90deg,
  //   #330c6e 0%,
  //   #7546bc 50%,
  //   #465779 100%
  // );

  // background: linear-gradient(90deg, #330c6e 0%, #7546bc 50%, #465779 100%);
  // background: #99180d;
  // background: -webkit-linear-gradient(270deg, #99180d 0%, #313131 100%);
  // background: linear-gradient(270deg, #99180d 0%, #313131 100%);
  background: #99180d;
  background: -webkit-linear-gradient(270deg, #99180d 0%, #111111 100%);
  background: linear-gradient(270deg, #99180d 0%, #111111 100%);
  width: 100%;
  height: 75px;
  .wrapper {
    padding: 0px 40px;
    height: 100%;

    .search {
      border: 0.5px solid lightgray;
      padding: 6px 15px;
      border-radius: 2px;
      input {
        font-size: $base-font-size;
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
          font-weight: bold;
          font-size: $base-font-size;
          color: rgb(205, 201, 201);
        }
      }
    }
    .items {
      display: none;
    }

    @include lg {
      .items {
        .item {
          display: flex;
          align-items: center;
          gap: 3px;
          cursor: pointer;

          .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
