@use "variables" as *;
@use "breakpoints" as *;

.sidebar {
  display: none;
}

@include md {
  .sidebar {
    display: block;
    flex: 0.8;
    border-right: 0.5px solid rgb(207, 204, 204);
    min-height: 100vh;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #9f8cbb;
      }

      a {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          display: none;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: inherit;
        font-weight: inherit;
        height: 41px;
        padding: 8px;
        cursor: pointer;
        p {
          display: none;
        }
      }
    }
    .top {
      height: 75px;
      .logo {
        font-size: $font-size-md;
        font-weight: bold;
        display: none;
      }
      .logo2 {
        font-size: $font-size-md;
        font-weight: bold;
      }
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(207, 204, 204);
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      color: #c3c1c1;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      .colorOption {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        cursor: pointer;
        margin-top: 5px;
        padding: 8px;
        border-radius: 6px;

        p {
          display: none;
        }
        &:nth-child(2) {
          &:hover {
            background-color: rgb(17, 17, 17);
          }
        }
        &:nth-child(3) {
          &:hover {
            background-color: rgb(220, 208, 208);
            color: rgb(25, 24, 24);
          }
        }
      }
    }
  }
}

@include lg {
  .sidebar {
    flex: 2;
    ul {
      li {
        margin-left: 10px;
        justify-content: flex-start;
        a {
          justify-content: flex-start;
          span {
            margin-left: 10px;
            display: flex;
          }
        }

        button {
          p {
            display: block;
            margin-left: 10px;
          }
        }
      }
    }

    .title {
      align-self: flex-start;
      margin-left: 30px;
    }

    .top {
      .logo {
        display: flex;
      }
      .logo2 {
        display: none;
      }
    }
    .bottom {
      p {
        align-self: flex-start;
        margin-left: 20px;
      }
      .title {
        color: green;
        align-self: flex-start;
        display: flex;
        padding: 8px;
      }
      .colorOption {
        margin-left: 15px;
        justify-content: flex-start;

        p {
          display: flex;
          margin-left: 10px;
        }
      }
    }
  }
}

@include xl {
  .sidebar {
    flex: 1;
  }
}
