@use "variables" as *;
@use "breakpoints" as *;

.sidebar {
  display: none;
}

@include md {
  .sidebar {
    display: block;
    border-right: 0.5px solid rgb(207, 204, 204);
    min-height: 100vh;
    background: #465779;
    background: -webkit-linear-gradient(0deg, #465779 0%, #330c6e 100%);
    background: linear-gradient(0deg, #465779 0%, #330c6e 100%);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
      width: 80%;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #9f8cbb;
      }
      // padding: 8px;
      span {
        margin-left: 10px;
      }

      a {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
        span {
          display: none;
        }
      }
    }
    .top {
      height: 75px;
    }
    .logo {
      font-size: $font-size-md;
      font-weight: bold;
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(207, 204, 204);
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      color: #c3c1c1;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .bottom {
      .colorOption {
        display: flex;
        align-items: center;
        width: 80%;
        cursor: pointer;
        margin-top: 5px;
        padding: 8px;
        border-radius: 6px;
        margin-left: 10px;
        p {
          display: none;
        }
        &:nth-child(2) {
          &:hover {
            background-color: rgb(17, 17, 17);
          }
        }
        &:nth-child(3) {
          &:hover {
            background-color: rgb(220, 208, 208);
            color: rgb(25, 24, 24);
          }
        }
      }
    }
  }
}

@include lg {
  .sidebar {
    li {
      margin-left: 10px;
      a {
        span {
          margin-left: 10px;
          display: flex;
        }
      }
    }
    .bottom {
      .colorOption {
        p {
          margin-left: 10px;
          display: flex;
        }
      }
    }
  }
}
