@use "variables" as *;
@use "breakpoints" as *;

.dashboard {
  .listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;

    .tableCell {
      font-size: 18px;
      min-width: 150px;

      .view,
      .delete {
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
      .view {
        background-color: rgb(46, 143, 199);
      }
      .delete {
        margin-left: 10px;
        background-color: rgb(213, 73, 73);
      }
    }

    .listTitle {
      font-weight: 500;
      color: #c3c1c1;
      margin-bottom: 15px;
      padding: 0;
      font-size: $font-size-md;
    }

    .table {
      .cellWrapper {
        .avatarImage {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .status {
        padding: 5px;
        border-radius: 5px;

        &.aproved {
          color: green;
          background-color: rgba(0, 128, 0, 0.151);
        }
        &.pending {
          color: goldenrod;
          background-color: rgba(189, 189, 3, 0.103);
        }
      }
    }
  }
}

.measurement-header {
  padding: 20px;
  margin: 20px;
  h2 {
    max-width: 400px;
  }
}

.measurement-table-container {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: $base-box-shadow;
  border-radius: 8px;

  .date-container {
    max-width: 500px;

    button {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .flex-container {
    flex-wrap: wrap;
    justify-content: center;
    @include md {
      justify-content: flex-start;
    }
    .table-container {
      max-width: 225px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: $base-box-shadow;
      border-radius: 8px;
      align-items: center;
      border: 2px solid rgb(231, 221, 221);
      .hip,
      .waist,
      .pelvis {
        width: 50px;
      }

      .table-data {
        display: flex;
        padding: 5px;
        border-radius: 6px;

        margin-left: 5px;
        justify-content: center;
        align-items: center;
        div {
          padding: 5px;
          &:nth-child(1) {
            width: 100px;
          }
          &:nth-child(2) {
            width: 40px;

            text-align: center;
          }
        }
      }
    }
  }
}
