@use "variables" as *;
@use "breakpoints" as *;

.dashboard {
  .listContainer {
    .tableCell {
      font-size: 18px;
      min-width: 150px;

      .view,
      .delete {
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
      .view {
        background-color: rgb(46, 143, 199);
        &:hover {
          background-color: rgb(255, 255, 255);
          color: $dark-600;
        }
      }
      .delete {
        margin-left: 10px;
        background-color: rgb(213, 73, 73);
      }
    }

    .listTitle {
      font-weight: 500;
      margin-bottom: 15px;
      padding: 0;
      font-size: $font-size-md;
    }

    .table {
      .cellWrapper {
        .avatarImage {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .status {
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}

.measurement-header,
.payment-header,
.images-header {
  padding: 20px 20px 0;
  h2,
  h3 {
    max-width: 400px;
  }
  img {
    width: 55px;
  }
}

//********************** measurement table ***********************///

.measurement-table-container {
  .date-container {
    max-width: 500px;

    button {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .flex-container {
    flex-wrap: wrap;
    justify-content: center;
    @include md {
      justify-content: flex-start;
    }
    .table-container {
      max-width: 225px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: $base-box-shadow;
      border-radius: 8px;
      align-items: center;
      border: 2px solid rgb(231, 221, 221);
      .hip,
      .waist,
      .pelvis {
        width: 50px;
      }

      .table-data {
        display: flex;
        padding: 5px;
        border-radius: 6px;

        margin-left: 5px;
        justify-content: center;
        align-items: center;
        div {
          padding: 5px;
          &:nth-child(1) {
            width: 100px;
          }
          &:nth-child(2) {
            width: 40px;

            text-align: center;
          }
        }
      }
    }
  }
}

//********************** payment table ***********************///
.payment-table-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: $base-box-shadow;
  border-radius: 8px;
  @include md {
    padding: 5px 20px;
  }

  .table-index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(88, 56, 182);
    color: white;
    font-size: $font-size-lg;
  }
  .date-container {
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 15px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    border-radius: 8px;
    border: 2px solid rgb(231, 221, 221);
    width: clamp(190px, auto, auto);
    @include md {
      width: auto;
    }
    @include lg {
      margin: 10px 10px 10px 20px;
    }
    h4 {
      font-weight: normal;
    }
  }

  .table-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 5px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    border-radius: 8px;
    align-items: center;
    border: 2px solid rgb(231, 221, 221);
    width: clamp(281px, auto, 300px);
    @include md {
      width: auto;
    }

    .table-data {
      svg {
        width: 20px;
        margin-bottom: 2px;
      }
    }

    div {
      display: flex;
      align-items: center;
      padding: 5px;
      gap: 5px;
      .confirmed,
      .not-confirmed {
        display: flex;
        border-radius: 3px;
        margin-left: 5px;
        width: 120px;
      }

      .confirmed {
        background-color: rgb(59, 184, 59);
      }
      .not-confirmed {
        background-color: rgb(183, 183, 42);
      }
    }
  }
}

//********************** Tracking Member  table ***********************///
.member-tracking-table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .table-index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(56, 182, 117);
    color: white;
    font-size: $font-size-lg;
  }
  .date {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    border-radius: 8px;
    align-items: center;
    border: 2px solid rgb(231, 221, 221);
    flex: 1 0 160px;
    @include md {
      flex: 0 0 auto;
    }
    h4 {
      font-weight: normal;
    }
    margin-left: 20px;
  }

  .table-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    border-radius: 8px;
    align-items: center;
    border: 2px solid rgb(231, 221, 221);
    flex: 1 0 240px;
    @include md {
      flex: 0 0 auto;
    }

    .table-data {
      display: flex;
      gap: 10px;
      svg {
        color: #2cb149;
        margin-right: 5px;
      }
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    label {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: $base-box-shadow;
      border-radius: 8px;
      align-items: center;
      border: 2px solid rgb(231, 221, 221);
      input {
        background-color: green;
        cursor: pointer;
      }
      .isConfirmed {
        background-color: #2cb149;
      }
    }

    button {
      outline: none;
      border: none;
      width: 70px;
      height: 49px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #2cb149;
      }
    }
  }
}

//********************** Meals  table ***********************///
.meal-table-container {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: $base-box-shadow;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .date-container {
    padding: 20px;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    padding-bottom: 10px;
    justify-content: center;
    @include md {
      justify-content: flex-start;
    }

    .table-container {
      margin: 20px;
      padding: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: $base-box-shadow;
      border-radius: 8px;
      width: 200px;
      &:nth-child(1) {
        background-color: #2cb149;
      }
      &:nth-child(2) {
        background-color: rgb(196, 70, 32);
      }
      &:nth-child(3) {
        background-color: #6f2cb1;
      }
      &:nth-child(4) {
        background-color: #4435cb;
      }

      span {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .table-data {
        margin-top: 15px;

        ul {
          li {
            list-style-type: circle;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

//********************** Images  table ***********************///
.images-table-container {
  .date-container {
    max-width: 500px;

    button {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .flex-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
    @include lg {
      gap: 3em;
    }
    img {
      width: 250px;
      height: 350px;
      border-radius: 5px;
      object-position: center;
      object-fit: cover;
    }
  }
}
