@use "variables" as *;
@use "breakpoints" as *;

.user-detail-container {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: $base-box-shadow;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
    a {
      padding: 8px;
      border-radius: 5px;
      &:hover {
        background-color: #9f8cbb;
      }
    }
  }

  div {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: $base-box-shadow;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
  }
}
