@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset */
* {
  color: inherit;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Poppins;
  color: whitesmoke;
  position: relative;
  min-height: 100dvh;
  min-width: 320px;
}

.light .text {
  color: #1a1b1e;
}
.light .background {
  background-color: #ffffff;
  transition: all 0.3s ease-out;
}
.light .card-color {
  transition: all 0.3s ease-out;
  background: #e9ecef;
}

.dark .text {
  color: #ffffff;
}
.dark .background {
  transition: all 0.3s ease-out;
  background-color: #1a1b1e;
}
.dark .card-color {
  transition: all 0.3s ease-out;
  background: #25262b;
}
.dark .backgroundX {
  transition: all 0.3s ease-out;
  background-color: #1a1b1e;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  height: 0;
  border: 0.5px solid rgb(207, 204, 204);
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-space-between {
  align-items: space-between;
}

.align-space-around {
  align-items: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #2a3155;
}

.bg-primary {
  background-color: #2a3155;
}

.text-secondary {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-error {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-smoke {
  color: whitesmoke;
}

.bg-smoke {
  background-color: whitesmoke;
}

.text-back {
  color: #3d3174;
}

.bg-back {
  background-color: #3d3174;
}

.card-padding {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2a3155;
}
.btn-primary:hover {
  background-color: #3b4577;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #2a3155;
}
.btn-outlined-primary:hover {
  background-color: #2a3155;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2a3155;
  color: #b3a665;
}
.btn-complement-primary:hover {
  color: #2a3155;
  background-color: #b3a665;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
}
.btn-secondary:hover {
  background-color: #31e4a2;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #1ac888;
}
.btn-outlined-secondary:hover {
  background-color: #1ac888;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
  color: #f08bb0;
}
.btn-complement-secondary:hover {
  color: #1ac888;
  background-color: #f08bb0;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #de4f73;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #d32752;
}
.btn-outlined-error:hover {
  background-color: #d32752;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
  color: #a5eedc;
}
.btn-complement-error:hover {
  color: #d32752;
  background-color: #a5eedc;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #f8d04d;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #f6c31c;
}
.btn-outlined-info:hover {
  background-color: #f6c31c;
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
  color: #afc1fc;
}
.btn-complement-info:hover {
  color: #f6c31c;
  background-color: #afc1fc;
}

.btn-smoke {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: whitesmoke;
}
.btn-smoke:hover {
  background-color: white;
}

.btn-outlined-smoke {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid whitesmoke;
}
.btn-outlined-smoke:hover {
  background-color: whitesmoke;
}

.btn-complement-smoke {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: whitesmoke;
  color: white;
}
.btn-complement-smoke:hover {
  color: whitesmoke;
  background-color: white;
}

.btn-back {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3d3174;
}
.btn-back:hover {
  background-color: #504098;
}

.btn-outlined-back {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #3d3174;
}
.btn-outlined-back:hover {
  background-color: #3d3174;
}

.btn-complement-back {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3d3174;
  color: #b8c678;
}
.btn-complement-back:hover {
  color: #3d3174;
  background-color: #b8c678;
}

.navbar {
  width: 100%;
  height: 75px;
}
.navbar .wrapper {
  padding: 0px 15px;
  height: 100%;
}
.navbar .wrapper .search {
  border: 0.5px solid lightgray;
  padding: 6px 15px;
  border-radius: 2px;
}
.navbar .wrapper .search input {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  max-width: 150px;
}
.navbar .wrapper .search input::placeholder {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(205, 201, 201);
}
.navbar .wrapper .items .menu-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.navbar .wrapper .items .menu-nav .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: rgb(241, 236, 236);
}
.navbar .wrapper .items .menu-nav button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
.navbar .wrapper .items .menu-nav ul,
.navbar .wrapper .items .menu-nav li {
  margin: 0;
  padding: 0;
}
.navbar .wrapper .items .menu-nav ul {
  gap: 10px;
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}
.navbar .wrapper .items .menu-nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  border: 2px solid black;
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  color: #99180d;
  font-weight: bold;
  cursor: pointer;
}
.navbar .wrapper .items .menu-nav ul li a {
  display: flex;
  gap: 10px;
}
.navbar .wrapper .items .menu-nav ul li .icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}
.navbar .wrapper .items .menu-nav ul li .refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .wrapper .items .item {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.navbar .wrapper .items .item .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 720px) {
  .navbar .wrapper .items {
    display: none;
  }
}
@media (min-width: 960px) {
  .navbar .wrapper .items .item {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
  }
  .navbar .wrapper .items .item .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

/******************** Bottom Navbar ****************************/
.bottom-navbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border-top: 2.5px solid rgb(207, 204, 204);
  height: 6vh;
}
.bottom-navbar .light {
  transition: all 0.3s ease-out;
  background: #b1c9ef;
}
.bottom-navbar .dark {
  transition: all 0.3s ease-out;
  background: #25262b;
}
@media (min-width: 720px) {
  .bottom-navbar {
    display: none;
  }
}
.bottom-navbar nav {
  width: 100%;
  height: 100%;
}
.bottom-navbar nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bottom-navbar nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: center;
  height: 60%;
}
.bottom-navbar nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
}
.bottom-navbar nav ul li a svg {
  width: 30px;
  height: 30px;
}

.sidebar {
  display: none;
}

@media (min-width: 720px) {
  .sidebar {
    display: block;
    flex: 0.8;
    border-right: 0.5px solid rgb(207, 204, 204);
    min-height: 100vh;
  }
  .sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
  }
  .sidebar li:hover {
    background-color: #9f8cbb;
  }
  .sidebar li a {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar li a span {
    display: none;
  }
  .sidebar li button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-weight: inherit;
    height: 41px;
    padding: 8px;
    cursor: pointer;
  }
  .sidebar li button p {
    display: none;
  }
  .sidebar .top {
    height: 75px;
  }
  .sidebar .top .logo {
    font-size: 1.2rem;
    font-weight: bold;
    display: none;
  }
  .sidebar .top .logo2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .sidebar hr {
    height: 0;
    border: 0.5px solid rgb(207, 204, 204);
  }
  .sidebar .title {
    font-size: 18px;
    font-weight: bold;
    color: #c3c1c1;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .sidebar .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}
@media (min-width: 960px) {
  .sidebar {
    flex: 2;
  }
  .sidebar ul li {
    margin-left: 10px;
    justify-content: flex-start;
  }
  .sidebar ul li a {
    justify-content: flex-start;
  }
  .sidebar ul li a span {
    margin-left: 10px;
    display: flex;
  }
  .sidebar ul li button p {
    display: block;
    margin-left: 10px;
  }
  .sidebar .title {
    align-self: flex-start;
    margin-left: 30px;
  }
  .sidebar .top .logo {
    display: flex;
  }
  .sidebar .top .logo2 {
    display: none;
  }
  .sidebar .bottom p {
    align-self: flex-start;
    margin-left: 20px;
  }
  .sidebar .bottom .title {
    color: green;
    align-self: flex-start;
    display: flex;
    padding: 8px;
  }
  .sidebar .bottom .colorOption {
    margin-left: 15px;
    justify-content: flex-start;
  }
  .sidebar .bottom .colorOption p {
    display: flex;
    margin-left: 10px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    flex: 1;
  }
}
.home {
  display: grid;
  grid-template-columns: auto/auto/auto/1fr;
  grid-template-areas: " trainer" " member" "alert  ";
}
@media (min-width: 960px) {
  .home {
    grid-template-areas: " trainer  member member member member " "alert  alert alert alert alert";
  }
}
.home .trainer-data {
  grid-area: trainer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 720px) {
  .home .trainer-data {
    max-width: 300px;
  }
}
.home .trainer-data img {
  width: 300px;
  border-radius: 5px;
  max-width: 450px;
}
.home .trainer-data .social {
  display: flex;
  gap: 10px;
}
.home .trainer-data .social a {
  cursor: pointer;
}
.home .trainer-data .social a svg {
  width: 30px;
  height: 30px;
}
.home .members {
  grid-area: member;
}
.home .alerts {
  grid-area: alert;
  display: flex;
  gap: 10px;
}

.dashboard .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
.dashboard .listContainer .tableCell {
  font-size: 18px;
  min-width: 150px;
}
.dashboard .listContainer .tableCell .view,
.dashboard .listContainer .tableCell .delete {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard .listContainer .tableCell .view {
  background-color: rgb(46, 143, 199);
}
.dashboard .listContainer .tableCell .delete {
  margin-left: 10px;
  background-color: rgb(213, 73, 73);
}
.dashboard .listContainer .listTitle {
  font-weight: 500;
  color: #c3c1c1;
  margin-bottom: 15px;
  padding: 0;
  font-size: 1.2rem;
}
.dashboard .listContainer .table .cellWrapper .avatarImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.dashboard .listContainer .table .status {
  padding: 5px;
  border-radius: 5px;
}
.dashboard .listContainer .table .status.aproved {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.dashboard .listContainer .table .status.pending {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}

.measurement-header,
.payment-header,
.images-header {
  padding: 20px;
}
.measurement-header h2,
.payment-header h2,
.images-header h2 {
  max-width: 400px;
}
.measurement-header img,
.payment-header img,
.images-header img {
  width: 55px;
}

.measurement-table-container .date-container {
  max-width: 500px;
}
.measurement-table-container .date-container button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.measurement-table-container .date-container button img {
  width: 40px;
  height: 40px;
}
.measurement-table-container .flex-container {
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 720px) {
  .measurement-table-container .flex-container {
    justify-content: flex-start;
  }
}
.measurement-table-container .flex-container .table-container {
  max-width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  align-items: center;
  border: 2px solid rgb(231, 221, 221);
}
.measurement-table-container .flex-container .table-container .hip,
.measurement-table-container .flex-container .table-container .waist,
.measurement-table-container .flex-container .table-container .pelvis {
  width: 50px;
}
.measurement-table-container .flex-container .table-container .table-data {
  display: flex;
  padding: 5px;
  border-radius: 6px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}
.measurement-table-container .flex-container .table-container .table-data div {
  padding: 5px;
}
.measurement-table-container .flex-container .table-container .table-data div:nth-child(1) {
  width: 100px;
}
.measurement-table-container .flex-container .table-container .table-data div:nth-child(2) {
  width: 40px;
  text-align: center;
}

.payment-table-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.payment-table-container .table-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(88, 56, 182);
  color: white;
  font-size: 1.5rem;
}
.payment-table-container .date-container {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 15px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  border: 2px solid rgb(231, 221, 221);
  width: clamp(190px, auto, auto);
}
@media (min-width: 720px) {
  .payment-table-container .date-container {
    width: auto;
  }
}
.payment-table-container .date-container h4 {
  font-weight: normal;
}
.payment-table-container .table-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  align-items: center;
  border: 2px solid rgb(231, 221, 221);
  width: clamp(281px, auto, 300px);
}
@media (min-width: 720px) {
  .payment-table-container .table-container {
    width: auto;
  }
}
.payment-table-container .table-container .table-data svg {
  width: 20px;
  margin-bottom: 2px;
}
.payment-table-container .table-container div {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.payment-table-container .table-container div .confirmed,
.payment-table-container .table-container div .not-confirmed {
  display: flex;
  border-radius: 3px;
  margin-left: 5px;
  width: 125px;
}
.payment-table-container .table-container div .confirmed {
  background-color: rgb(59, 184, 59);
}
.payment-table-container .table-container div .not-confirmed {
  background-color: rgb(183, 183, 42);
}

.member-tracking-table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.member-tracking-table .table-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(56, 182, 117);
  color: white;
  font-size: 1.5rem;
}
.member-tracking-table .date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  align-items: center;
  border: 2px solid rgb(231, 221, 221);
  flex: 1 0 160px;
  margin-left: 20px;
}
@media (min-width: 720px) {
  .member-tracking-table .date {
    flex: 0 0 auto;
  }
}
.member-tracking-table .date h4 {
  font-weight: normal;
}
.member-tracking-table .table-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  align-items: center;
  border: 2px solid rgb(231, 221, 221);
  flex: 1 0 240px;
}
@media (min-width: 720px) {
  .member-tracking-table .table-container {
    flex: 0 0 auto;
  }
}
.member-tracking-table .table-container .table-data {
  display: flex;
  gap: 10px;
}
.member-tracking-table .table-container .table-data svg {
  color: #2cb149;
  margin-right: 5px;
}
.member-tracking-table form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}
.member-tracking-table form label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  align-items: center;
  border: 2px solid rgb(231, 221, 221);
}
.member-tracking-table form label input {
  background-color: green;
  cursor: pointer;
}
.member-tracking-table form label .isConfirmed {
  background-color: #2cb149;
}
.member-tracking-table form button {
  outline: none;
  border: none;
  width: 70px;
  height: 49px;
  border-radius: 5px;
  cursor: pointer;
}
.member-tracking-table form button:hover {
  background-color: #2cb149;
}

.meal-table-container {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.meal-table-container .date-container {
  padding: 20px;
}
.meal-table-container .wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  padding-bottom: 10px;
  justify-content: center;
}
@media (min-width: 720px) {
  .meal-table-container .wrapper {
    justify-content: flex-start;
  }
}
.meal-table-container .wrapper .table-container {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  width: 200px;
}
.meal-table-container .wrapper .table-container:nth-child(1) {
  background-color: #2cb149;
}
.meal-table-container .wrapper .table-container:nth-child(2) {
  background-color: rgb(196, 70, 32);
}
.meal-table-container .wrapper .table-container:nth-child(3) {
  background-color: #6f2cb1;
}
.meal-table-container .wrapper .table-container:nth-child(4) {
  background-color: #4435cb;
}
.meal-table-container .wrapper .table-container span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.meal-table-container .wrapper .table-container span img {
  width: 60px;
  height: 60px;
}
.meal-table-container .wrapper .table-container .table-data {
  margin-top: 15px;
}
.meal-table-container .wrapper .table-container .table-data ul li {
  list-style-type: circle;
  margin-left: 20px;
}

.images-table-container .date-container {
  max-width: 500px;
}
.images-table-container .date-container button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.images-table-container .date-container button img {
  width: 40px;
  height: 40px;
}
.images-table-container .flex-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  gap: 10px;
}
.images-table-container .flex-images img {
  width: 250px;
  height: 350px;
  border-radius: 5px;
}

/******************************************* LOGIN PAGE ********************************* */
.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 10%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.login-container .glass-container {
  padding: 2em;
  background: rgba(37, 35, 35, 0.5);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(37, 35, 35, 0.125);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
  align-items: center;
  justify-content: center;
  max-width: 441px;
}
.login-container .glass-container h1 {
  color: #53ddff;
}
.login-container .glass-container .link-div {
  margin-top: 1em;
}
.login-container .glass-container .link-div a {
  color: #53ddff;
  font-weight: 600;
  text-decoration: none;
}
.login-container .glass-container .link-div a:hover {
  color: #00ccff;
}
.login-container .glass-container .form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
}
.login-container .glass-container .form .input-with-icon {
  display: flex;
  background-color: white;
  height: 50px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  border-radius: 6px;
  color: black;
}
.login-container .glass-container .form .input-with-icon .custom-input {
  width: 90%;
  border: 1px solid rgb(209, 213, 219);
  text-indent: 10px;
  border-radius: 6px 0px 0px 6px;
  border-right: none;
}
.login-container .glass-container .form .input-with-icon .icon-comp {
  width: 10%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0 6px 6px 0;
  border-left: none;
  padding: 1px 0;
  height: 50px;
  background-color: white;
}
.login-container .glass-container .form input {
  border: 1px solid rgb(209, 213, 219);
  height: 50px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  border-radius: 6px;
  color: black;
}
.login-container .glass-container .form input:focus {
  outline: none;
}
.login-container .glass-container .form button {
  border: none;
  border-radius: 6px;
  height: 50px;
  margin-top: 22px;
  color: black;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.login-container .glass-container .form button:hover {
  background-color: #53ddff;
}
.login-container .glass-container .form button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}
.login-container .glass-container .form .input-label {
  margin-top: 0.4em;
}

/* The alert message box */
.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em;
  background-color: #ea564b; /* Red */
  margin-top: 1em;
  margin-bottom: 0;
  border-radius: 5px;
}

/*  close button */
.login-error {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .login-error {
    font-size: 22px;
  }
}
/*************************************** PROFILE FORM ***************************************************/
.profile-container img {
  width: 200px;
  border-radius: 50%;
  padding: 0 10px;
}
.profile-container form {
  gap: 5px;
  padding: 10px;
}
.profile-container form label {
  display: flex;
  flex-direction: column;
}
.profile-container form label span {
  display: flex;
  align-items: center;
}
.profile-container form label span svg {
  width: 30px;
  height: 30px;
}
.profile-container form label input {
  border: 1px solid rgb(209, 213, 219);
  height: 50px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  border-radius: 6px;
  width: clamp(200px, 50%, 500px);
  color: black;
}
.profile-container form label input:focus {
  outline: none;
}
.profile-container form button {
  border: none;
  border-radius: 6px;
  height: 54px;
  margin-top: 22px;
  color: black;
  cursor: pointer;
  width: 200px;
  align-self: center;
}
.profile-container form button:hover {
  background-color: #53ddff;
}
.profile-container form button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

/***************************************MEASUREMENT FORM ***********************************************/
.user-detail-container {
  padding: 10px;
}
@media (min-width: 720px) {
  .user-detail-container {
    padding: 20px;
  }
}
.user-detail-container .measurement .add-measurement-btn {
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: #218838;
}
.user-detail-container .measurement .add-measurement-btn:hover {
  background-color: #2cb149;
}
.user-detail-container .measurement .form-measurement {
  margin: 10px 0;
}
.user-detail-container .measurement .form-measurement .date button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.user-detail-container .measurement .form-measurement .date button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.user-detail-container .measurement .form-measurement form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 720px) {
  .user-detail-container .measurement .form-measurement form {
    justify-content: flex-start;
  }
}
.user-detail-container .measurement .form-measurement form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  height: 54px;
  min-width: 240px;
  max-width: 260px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 0 10px;
}
@media (min-width: 720px) {
  .user-detail-container .measurement .form-measurement form label {
    gap: 10px;
    justify-content: space-between;
  }
}
.user-detail-container .measurement .form-measurement form label .hip,
.user-detail-container .measurement .form-measurement form label .waist,
.user-detail-container .measurement .form-measurement form label .pelvis {
  width: 50px;
}
.user-detail-container .measurement .form-measurement form label input {
  max-width: 40px;
  text-align: center;
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
}
.user-detail-container .measurement .form-measurement form button {
  outline: none;
  border: none;
  width: clamp(100px, 45%, 150px);
  height: 58px;
  border-radius: 5px;
  cursor: pointer;
}

/***************************************PAYMENT FORM ***********************************************/
.payment .add-payment-btn {
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: #218838;
}
.payment .add-payment-btn:hover {
  background-color: #2cb149;
}
.payment .form-payment form {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}
.payment .form-payment form label input {
  margin-left: 10px;
  max-width: 60px;
  text-align: center;
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
}
.payment .form-payment form label #isConfirmed {
  background-color: #2cb149;
}
.payment .form-payment form button {
  outline: none;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

/***************************************MEMBER TRACKING FORM ***********************************************/
.member-tracking .add-training-dates-btn {
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: #218838;
}
.member-tracking .add-training-dates-btn:hover {
  background-color: #2cb149;
}
.member-tracking .form-member-tracking form {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}
.member-tracking .form-member-tracking form label input {
  margin-left: 10px;
  max-width: 60px;
  text-align: center;
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
}
.member-tracking .form-member-tracking form label #isConfirmed {
  background-color: #2cb149;
}
.member-tracking .form-member-tracking form button {
  outline: none;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

/*************************************** MEAL FORM ***********************************************/
.meal .form-meal {
  padding: 0;
  margin: 0;
  box-shadow: none;
}
.meal .form-meal form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.meal .form-meal form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.meal .form-meal form label textarea {
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
  resize: none;
  border-radius: 2px;
  height: 150px;
}
.meal .form-meal form button {
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.user-detail-container {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  min-height: 100dvh;
  border-radius: 5px;
}
@media (min-width: 720px) {
  .user-detail-container {
    min-height: auto;
  }
}
@media (min-width: 720px) {
  .user-detail-container {
    margin: 20px;
    padding: 20px;
  }
}
.user-detail-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
}
.user-detail-container ul a {
  padding: 8px;
  border-radius: 5px;
}
.user-detail-container ul a:hover {
  background-color: #9f8cbb;
}
.user-detail-container div {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.layout {
  min-height: 100dvh;
  margin-bottom: 5.8vh;
}
@media (min-width: 720px) {
  .layout {
    margin-bottom: 0;
  }
}
.layout .container-site {
  position: relative;
  flex: 12;
}
@media (min-width: 720px) {
  .layout .container-site {
    flex: 6;
  }
}
@media (min-width: 960px) {
  .layout .container-site {
    flex: 7;
  }
}
@media (min-width: 1200px) {
  .layout .container-site {
    flex: 6;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mt-10 {
  margin-top: 10%;
}

.mt-15 {
  margin-top: 15%;
}

.mt-20 {
  margin-top: 20%;
}

.mt-25 {
  margin-top: 25%;
}

.mt-30 {
  margin-top: 30%;
}

.mt-40 {
  margin-top: 40%;
}

.mt-50 {
  margin-top: 50%;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mr-10 {
  margin-right: 10%;
}

.mr-15 {
  margin-right: 15%;
}

.mr-20 {
  margin-right: 20%;
}

.mr-25 {
  margin-right: 25%;
}

.mr-30 {
  margin-right: 30%;
}

.mr-40 {
  margin-right: 40%;
}

.mr-50 {
  margin-right: 50%;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.mb-10 {
  margin-bottom: 10%;
}

.mb-15 {
  margin-bottom: 15%;
}

.mb-20 {
  margin-bottom: 20%;
}

.mb-25 {
  margin-bottom: 25%;
}

.mb-30 {
  margin-bottom: 30%;
}

.mb-40 {
  margin-bottom: 40%;
}

.mb-50 {
  margin-bottom: 50%;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.ml-10 {
  margin-left: 10%;
}

.ml-15 {
  margin-left: 15%;
}

.ml-20 {
  margin-left: 20%;
}

.ml-25 {
  margin-left: 25%;
}

.ml-30 {
  margin-left: 30%;
}

.ml-40 {
  margin-left: 40%;
}

.ml-50 {
  margin-left: 50%;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 10px;
}

.br-sm {
  border-radius: 5px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-l-b {
  display: inline-block;
}

.vh-10 {
  height: 10vh;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}

.vh-10p {
  height: 10%;
}

.vh-20p {
  height: 20%;
}

.vh-30p {
  height: 30%;
}

.vh-40p {
  height: 40%;
}

.vh-50p {
  height: 50%;
}

.vh-60p {
  height: 60%;
}

.vh-70p {
  height: 70%;
}

.vh-80p {
  height: 80%;
}

.vh-90p {
  height: 90%;
}

.vh-full {
  height: 100%;
}

.vw-10 {
  width: 10vw;
}

.vw-20 {
  width: 20vw;
}

.vw-30 {
  width: 30vw;
}

.vw-40 {
  width: 40vw;
}

.vw-50 {
  width: 50vw;
}

.vw-60 {
  width: 60vw;
}

.vw-70 {
  width: 70vw;
}

.vw-80 {
  width: 80vw;
}

.vw-90 {
  width: 90vw;
}

.vw-100 {
  width: 100vw;
}

.vw-10p {
  width: 10%;
}

.vw-20p {
  width: 20%;
}

.vw-30p {
  width: 30%;
}

.vw-40p {
  width: 40%;
}

.vw-50p {
  width: 50%;
}

.vw-60p {
  width: 60%;
}

.vw-70p {
  width: 70%;
}

.vw-80p {
  width: 80%;
}

.vw-90p {
  width: 90%;
}

.vw-full {
  width: 100%;
}

.fd-r {
  flex-direction: row;
}

.fd-c {
  flex-direction: column;
}

.cursor-p {
  cursor: pointer;
}

.cursor-d {
  cursor: default;
}

.gp-1 {
  gap: 1rem;
}

.gp-2 {
  gap: 2rem;
}

.gp-3 {
  gap: 3rem;
}

.gp-4 {
  gap: 4rem;
}

.gp-5 {
  gap: 5rem;
}

.gp-6 {
  gap: 6rem;
}

.gp-7 {
  gap: 7rem;
}

.gp-8 {
  gap: 8rem;
}

.gp-9 {
  gap: 9rem;
}

.gp-10 {
  gap: 10rem;
}